<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639944955763-rvmrqjcvek1hh0ktqaekvnjtjrfiuagq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639944955763-rvmrqjcvek1hh0ktqaekvnjtjrfiuagq</string>
	<key>API_KEY</key>
	<string>AIzaSyCQlEv3VFBP2aFAqF6iqiD6BOpPqz96aFM</string>
	<key>GCM_SENDER_ID</key>
	<string>639944955763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youtubeEcommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-cd3b1</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-cd3b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639944955763:ios:d598e7dfa1e8076670d706</string>
</dict>
</plist>